.conference_main {
  background-color: black;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.conference_title {
  font-family: "Times New Roman", Times, serif;
  font-size: 4rem;
  text-align: center;
}
.conference_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.conference_box_button {
  box-shadow: white 0 0 0 2px;
  color: white;
  background-color: black;
}
.active {
  color: black;
  background-color: white;
}

.conference_description{
  text-align: center;
  font-size: 1.3rem;
}