.index_panel_main {
  position: relative;
  height: calc(100vh - 50px);
}
.index_panel_main::before {
  content: "";
  position: absolute;
  display: block;
  height: calc(100%);
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../assets/IndexPanel.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.index_panel_inside {
  display: flex;
}
.index_list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  color: white;
  margin: 1rem 0 1rem 1rem;
  list-style-type: none;
  font-size: 1.8rem;
  width: 400px;
  font-weight: 500;
}
.index_list_item {
  cursor: pointer;
}
.index_list_item.active {
  color: black;
  background-color: yellow;
}
.more_info {
  width: 100%;
  margin: 1rem 1rem 1rem 0;
  padding: 2rem;
  text-align: center;
  color: white;
}

.more_info.active {
  box-shadow: inset yellow 0 0 0 5px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}

.index_panel_course_card_container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.index_panel_subtitle{
  font-size: 2rem;
}