.why_we_matter_main {
  background-color: #010100;
  color: #fffefe;
  padding: 2rem;
}

.first_panel {
  display: flex;
  flex-direction: column;
  font-family: "Times New Roman", Times, serif;
  justify-content: center;
}
.first_panel_title {
  color: yellow;
  text-align: center;
  font-weight: 400;
  font-size: 4rem;
}

.growth_arrow {
  width: 200px;
  margin-left: auto;
  margin-right: 33vw;
  margin-bottom: 2rem;
}
.inside_first_panel {
  display: flex;
}

.inside_first_panel_title {
  font-size: 2rem;
  font-weight: 500;
}
.inside_first_panel_passage {
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1rem;
}
.first_panel_text_container {
  width: 50%;
}

.first_panel_iframe {
  margin: auto;
}

.second_panel {
  display: flex;
}
.inside_second_panel {
  padding: 1rem;
  width: 40%;
}
.second_panel_title {
  color: red;
  font-weight: 400;
  font-size: 2.5rem;
}
.second_panel_passage {
  font-weight: 400;
  line-height: 1.5;
}
.second_panel_image {
  width: 60%;
  background-image: url("../assets/pt_lab_image.png");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 600px){
  .inside_first_panel {
    flex-direction: column;
  }
  .first_panel_text_container,.inside_second_panel {
    width: 100%;
  }
  .second_panel{
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url("../assets/pt_lab_image.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .second_panel_image{
    display: none;
  }
}